/*navbar*/
nav {
    height: 60px;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
    background-color: #133C74;
    text-align: center;
}

.navbar li a {
    color: rgb(255, 255, 255);
}

.navbar li a:hover {
    color:rgb(0, 179, 255);
}

.btn-nav {
    background-color: #133C74;
    color: rgba(218, 224, 230, 0.582);
    border: 2px solid rgba(218, 224, 230, 0.582);
    border-radius: 50px;
    float: right;
}

.btn-nav:hover {
    border: 2px solid;
    box-shadow: 0px 4px 4px rgba(218, 224, 230, 0.582);
}

.amarelinho{
    color: #FEC634;
    font-size: 150%;
    text-decoration: none;
}
/*cadastro*/

.buttonenviarcadastro{
    background-color: #19A438;
    border: none;
    padding: 15px;
    width: 10rem;
    border-radius: 10px;
    color: white;
    font-size: 15px;}

    .cardtextblack{
    border-radius: 15px;
    background-color:#133C74;
}

.inputcadastro{

        padding: 15px;
        border: none;
        outline: none;
        font-size: 15px;
        border-radius: 15px;
}
.direitinha{
    margin-left: auto;
    margin-right: auto;
}


 /* PAGINA login*/
       
    .inputlogin{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 15px;
    }
  
  .login {
    background-color: #133C74;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
  }

  
  button.marx:hover{
    background-color:#19875431;
    cursor: pointer;
  }         
  button:hover{
    background-color: deepskyblue;
    cursor: pointer;
  }
  button.modallogin{
    background-color:#133C74
    cursor: pointer;
  }

  button.modalcadastro{
    background-color:#19A438;
    cursor: pointer;
  }

  .buttoncadastro{
    background-color: #19A438;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
       
   }
   .buttonenviar{
    background-color: dodgerblue;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    
}


@media screen and (max-width: 500px) {

    .login {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 80px;
        border-radius: 15px;
        color: #fff;
        text-align: center;}
    }
    .direitinha{
        margin-left: auto;
        margin-right: auto;
    }

  
@media screen and (min-width: 764px) and (max-width:1180px) {
    
    .buttonenviarcadastro{
        background-color: orangered;
        border: none;
        padding: 15px;
        width: 10rem;
        border-radius: 10px;
        color: white;
        font-size: 15px;}
    }
    .direitinha{
        margin-left: auto;
        margin-right: auto;
    }