<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICONE -->
    <link rel="icon" href="">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Reset CSS -->
    <link rel ="stylesheet" type="text/css" href="../static/meu/cores.css"/>
    <link rel="stylesheet" type="text/css" href="../static/meu/reset.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Arrecada Araras</title>
</head>
<body>

<!-- Navbar -->
<header>
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <a href="{% url 'core:index' %}"><img src="../static/img/logo_nav.png" alt="Logotipo" height="55" class="img-nav"></a>

            <button class="navbar-toggler" data-toggle="collapse" data-target="#navCollapse">
                <i class="bi bi-list bi-color"></i>
            </button>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'core:index' %}" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#busca" class="nav-link">Como Funciona</a>
                </li>

                <li class="nav-item">
                    <a href="#carrossel" class="nav-link">Quem Somos?</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'core:login' %}" class="nav-link"><i class="bi bi-person-circle"></i>Login</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<section>
    <div id="grad3" style="text-align:center;">
        <div class="containercentro">
            <div class="login">
                <img src="../static/img/logo_nav.png" class="direitinha" width="150" alt="Sample image">
                <h3> Login</h3>
                <form method="post" action="{% url 'core:login' %}">
                    {% csrf_token %}
                    <input type="text" placeholder="Email" name="email" class="inputlogin" required>
                    <br><br>
                    <input type="password" placeholder="Senha" name="senha" class="inputlogin" required>
                    <br><br>
                    <button class="buttonenviar" type="submit">Enviar</button>
                    <br><br>
                </form>

                <a href="{% url 'core:cadastro' %}" style="text-decoration: none;">
                    <div class="buttoncadastro">Cadastrar-se</div>
                </a>

            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
