<nav class="navbar navbar-expand-md fixed-top">
    <div class="container">
        <a href="index.html"><img src="../static/img/logo_nav.png" alt="Logotipo" height="55" class="img-nav"></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navCollapse">
            <i class="bi bi-list bi-color"></i>
        </button>
        <div class="collapse navbar-collapse" id="navCollapse">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="./index.html" class="nav-link">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="#busca" class="nav-link">Como Funciona</a>
                </li>
                <li class="nav-item">
                    <a href="./ongs.html" class="nav-link">ONGs</a>
                </li>
                <li class="nav-item">
                    <a href="#carrossel" class="nav-link">Quem Somos?</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button class="btn-nav">
                        <a href="login.html" class="nav-link"><i class="bi bi-person-circle"></i>Login</a>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>