<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- ICONE -->
    <link rel="icon" href="">
    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Reset CSS -->
    <link rel="stylesheet" type="text/css" href="../static/meu/cores.css"/>
    <link rel="stylesheet" type="text/css" href="../static/meu/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>Arrecada Araras</title>
    <style>
     
    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Navbar -->
        
        <header>
            <nav class="navbar navbar-expand-md fixed-top">
                <div class="container">
                    <a href="index.html"><img src="../static/img/logo_nav.png" alt="Logotipo" height="55" class="img-nav"></a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navCollapse">
                        <i class="bi bi-list bi-color"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navCollapse">
                        <ul class="navbar-nav me-auto navbar-nav-center">
                            <li class="nav-item">
                                <a href="./index.html" class="nav-link">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a href="./ongs.html" class="nav-link">ONGs</a>
                            </li>
                            <li class="nav-item">
                                <a href="#carrossel" class="nav-link">Quem Somos?</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <button class="btn-nav">
                                    <a href="login.html" class="nav-link"><i class="bi bi-person-circle"></i>Login</a>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Main content -->
        <main class="container emp-perfil">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="perfil-img">
                            <img src="../static/img/" alt="imagem da foto do perfil">
                            <div class="file btn btn-lg btn-primary">
                                Mudar Foto
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="perfil-head">
                            <h5><%= usuario.nome %></h5>
                            <p class="proile-rating">DOAÇÕES FEITAS: <span>valor.total</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sobre</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color: #133C74;" id="perfil-tab" data-bs-toggle="tab" href="#sobre" role="tab" aria-controls="perfil" aria-selected="false"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="perfil-edit-btn" name="btnAddMore" value="Editar Perfil"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="livros-lidos">
                            <p>ULTIMAS DOAÇÕES</p>
                            <a href="">usuario.usuario_doacao</a><br/>
                            <a href="">usuario.usuario_doacao</a><br/>
                            <a href="">usuario.usuario_doacao</a><br/>
                            <a href="">usuario.usuario_doacao</a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content perfil-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Nome Completo</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>usuario.nome</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email Cadastrado</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>usuario.email</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>CPF</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>usuario.cpf</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Total Doacoes</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>usuario.total_doacoes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </main>

        <!-- Rodapé -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Contatos</h4>
                        <ul class="navbar-nav">
                            <li><a href="">Telefone: (19) 3541-3004</a></li>
                            <li><a href="https://fatecararas.cps.sp.gov.br/">Endereço: Jardim Jose Ometto II, Araras - SP, 13606-360</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h4>Links úteis</h4>
                        <ul class="navbar-nav">
                            <li><a href="./index.html">Página Inicial</a></li>
                            <li><a href="./ongs.html">ONGs</a></li>
                            <li><a href="./index.html">Quem Somos?</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h4>Midias sociais</h4>
                        <ul class="social-media">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-instagram"></i>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlRYoWsx9gDp6fxczd9TYU8C4IIQV9v2jYZxtfqHV+0Szlt8f0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eycH8GhsBxxdoGd0EDG5zfoV5ZCvM4B5RI5V2D5Hyy8F2Cp2e7CVgLP" crossorigin="anonymous"></script>
</body>
</html>
